@charset "UTF-8";
/* CSS Document */
/*-----リセット-------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
nav ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #ff6e6e;
}
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
}
* {
  margin: 0px;
  padding: 0px;
}
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  /* -webkit-appearance: none; */
  -moz-appearance: none;
  appearance: none;
}

/*-----枠-------------------------*/
.body {
  background-color: #ececec;
  /* background-color: #F2F2F2; */
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}
.white_back {
  background-color: #ffffff;
}
.main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 800px;
  margin: 0px auto 0px auto;
  overflow: hidden;
}
.main_top {
  max-width: 1024px;
  margin: 0px auto 50px auto;
}
.container {
  box-sizing: border-box;
  /* background-color: #FFFFFF; */
  width: 100%;
  height: 100%;
  padding: 30px 10px 30px 10px;
  overflow: hidden;
  position: relative;
}
.article {
  max-width: 550px;
  /* max-width: 600px; */
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.twocolumn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 40px;
  /* text-align: center; */
}
.threecolumn {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
.threecolumn_wrap {
  overflow: hidden;
}
/*-----トップ-------------------------*/
.top {
	background-color: #FFFFFF;
  /* background-image: url("../img/top_image2.png"); */
  background-image: url("../img/gum-a5.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 300px;
	text-align: center;
  position: relative;
}
.top_slim {
	background-color: #FFFFFF;
  /* background-image: url("../img/top_image2.png"); */
  background-image: url("../img/gum-a5.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 180px;
	text-align: center;
  position: relative;
}
.logotop{
	width: 220px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/*-----ヘッダー-------------------------*/
.header {
  width: 100%;
  height: 50px;
  min-width: 320px;
  background-color: #ffffff;
  top: 0px;
  z-index: 2;
}
.headerwrap {
  max-width: 800px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.logosvg {
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.header_menus {
  list-style: none;
  position: absolute;
  top: 0px;
  right: 10px;
}
.header_menu {
  font-size: 16px;
  line-height: 50px;
  color: #000000;
  margin-left: 10px;
}
/*-----個別ページ-------------------------*/
.site_title {
  margin: 0px 0px 20px 10px;
}
.page_title {
  color: #121212;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}
.margintop {
  margin: 20px 10px 0px 10px;
}
.page_description{
  color: #121212;
  margin: 0px 10px 20px 10px;
  font-size: 14px;
}
.page_h3 {
  max-width: 500px;
  margin: 20px auto 0px auto;
  padding: 0px 10px 0px 10px;
}
.description {
  max-width: 500px;
  font-size: 14px;
  line-height: 21px;
  margin: 20px auto 40px auto;
  padding: 0px 10px 0px 10px;
}
/*-----コンタクト-------------------------*/
.contact_wrap {
  margin: 0px 10px 30px 10px;
}
.contact_title {
  font-size: 14px;
  font-weight: bold;
}
.mail_address {
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ff6e6e;
}
.strong {
  font-weight: bold;
}
.contact_description {
  margin-top: 10px;
}
/*-----about-------------------------*/
.about_wrap {
  /* background-color: #bfbfbf; */
}
.container_title {
  font-weight: bold;
}
.container_about {
  box-sizing: border-box;
  padding: 30px 10px 30px 10px;
  overflow: hidden;
  position: relative;
}
.catchcopy{
  color: #121212;
  margin: 10px 10px 20px 10px;
  font-size: 25px;
  /* text-align: center; */
}
.about_p {
  font-size: 15px;
  line-height: 30px;
  margin: 10px 10px 20px 10px;
  /* text-align: center; */
  /* font-weight: bold; */
}
.gum_a_color {
  color: #ff6e6e;
}
.about_logo {
  width: 150px;
}

.container_yurai {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 20px;
  margin: 0px 10px 30px 10px;
}
.yurai_p {
  ont-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
}
.about_service_title {
  background-color: #000000;
  /* background-color: #FF6E6E; */
  color: #ffffff;
  /* color: #000000; */
  width: 150px;
  line-height: 27px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  margin: 25px auto 15px 10px;
}
.about_service_p {
  line-height: 27px;
  font-size: 15px;
  margin: 0px 10px 10px 10px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin: auto;
}
.back_gum {
  position: absolute;
  height: 180px;
  z-index: -1;
  /* opacity: 0.5; */
}
.border_white {
  border: solid 5px #ffffff;
  border-radius: 20px;
}
.container_wrap {
  padding: 10px;
}
.img_icon {
  height: 40px;
}
/*-----メンバー-------------------------*/
.profile_img {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.member_wrap {
  margin: 0px 10px 30px 10px;
}
.name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.position {
  font-size: 14px;
  color: #ff6e6e;
  margin-bottom: 10px;
}
.bio {
  margin-bottom: 10px;
}
.skill {
  margin-bottom: 15px;
}
.sns_wrap {
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}
.sns_logo {
  display: block;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  display: block;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  text-decoration: none;
  color: #121212;
}
.link:hover {
  color: #424242;
  transition: all .3s;
  box-shadow: none;
}

/*-----アイテムリスト-------------------------*/
.service_title {
  font-size: 20px;
  font-weight: bold;
}

.item_title_wrap {
  height: 40px;
}
.item_title {
  margin-left: 10px;
}
.view_more_wrap {
  /* position: absolute;
  bottom: 0px; */
  width: 100%;
  display: block;
  position: relative;
}
.view_more {
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
}




/*-----文字装飾(記事)-------------------------*/
h1 {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 0px;
  color: #121212;
}
h2 {
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 0px;
  color: #707070;
}
h3 {
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
  color: #121212;
  margin-bottom: 20px;
  padding: 5px;
}
h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #707070;
  margin-top: 25px;
  margin-bottom: 20px;
}
h4:before {
  content: '●';
  color: #bfbfbf;
  margin-right: 8px;
}
p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #121212;
}
.p {
  margin-bottom: 15px;
}
.img_wrap {
  width: 100%;
  height: 300px;
  text-align: center;
  position: relative;
}
.img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 0px;
}

.img_vertical {
  border-radius: 10px;
  height: 100vh;
  margin-bottom: 0px;
}
.logo_wrap {
  width: 25%;
  height: 30px;
  position: relative;
}
.logo {
  height: 30px;
}



/*-----記事一覧------------------------------*/


/*-----フッター-------------------------*/
.footer_logo_wrap {
	background-color: #FFFFFF;
  /* background-image: url("../img/top_image2.png"); */
  background-image: url("../img/gum-a5.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 180px;
	text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.logotop{
	width: 220px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.footer {
  text-align: center;
  background-image: url("../img/gum-a5.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  min-width: 320px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.footerlinks {
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  max-width: 800px;
}
.footerlink {
  text-decoration: none;
  display: inline-block;
  color: #121212;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin-right: 10px;
}
.footerlogosvg {
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.allrights {
  font-size: 13px;
  color: #121212;
  margin-bottom: 0px;
}


/*-----テーブル-------------------------*/
.table {
  margin: 20px 0px 20px 0px;
  border-collapse: collapse;
  border: solid 1px #707070;/*表全体を線で囲う*/
}
table th, table td {
  border: dashed 1px #707070;
  padding: 10px;
  font-size: 13px;
  /**//*破線 1px オレンジ*/
}
th {
  font-weight: normal;
}

/*-----タブレット縦とスマホ横-------------------------*/
@media (min-width: 481px){
  .main {
  }


  .threecolumn {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }

}
/*-----デスクトップPCとタブレット横------------------------------*/
@media (min-width: 769px){
  .threecolumn {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 33%;
  }
  .twocolumn {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width: 50%;
  }
}
